<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SuiteUtils">
    <test name="Utils">
        <classes>
            <class name="com.itechart.core.util.AppConfigTest"/>
            <class name="com.itechart.core.util.BandwidthUtilTest"/>
        </classes>
    </test>
    <test name="Managers">
        <classes>
            <class name="com.itechart.core.ClientManagerTest"/>
            <class name="com.itechart.core.BandwidthManagerTest"/>
        </classes>
    </test>
    <test name="InputStreamWrapper">
        <classes>
            <class name="com.itechart.core.stream.InputStreamWrapperTest"/>
        </classes>
    </test>
</suite>